@import '../../../styles/base';

.layout {
  width: 100%;

  &__search,
  &__logo,
  &__link,
  &__selector,
  &__sw {
    position: fixed;

    z-index: 10;
  }

  &__search {
    @include global-top;
    @include global-left;

    @include breakpoint(laptop) {
      &:before {
        content: 'Type to ';
      };
    }
  }

  &__logo {
    @include global-top;

    left: 50%;

    margin: 0;

    text-align: center;

    transform: translate3d(-50%, 0, 0);

    transition: {
      property: opacity;
      duration: 0.35s;
    }

    .layout--not-top & {
      opacity: 0;
    }
  }

  &__selector {
    z-index: 9;

    top: 0;
    left: 0;
  }

  &__link {
    @include global-bottom;
    @include global-left;
  }

  &__search-box {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 15;
  }

  &__sw {
    top: calc(#{$global-padding} - #{rem(16px)});
    right: calc(#{$global-padding} - #{rem(20px)});

    background-color: var(--color-text);
    color: #fff;
    padding: rem(16px) rem(20px);

    opacity: 0;
    visibility: hidden;

    transition: {
      duration: 0.25s;
      property: opacity, visibility;
    }

    &:hover,
    &:focus {
      background-color: var(--color-text-light);
    }

    .layout--sw-update & {
      opacity: 1;
      visibility: visible;
    }
  }
}
