@import '../../../styles/base';
@import '../../../styles/defaults';

.layout {
  width: 100%;

  &__search,
  &__logo,
  &__link,
  &__selector {
    position: fixed;

    z-index: 10;
  }

  &__search {
    @include global-top;
    @include global-left;
  }

  &__logo {
    @include global-top;

    left: 50%;

    margin: 0;

    text-align: center;

    transform: translate3d(-50%, 0, 0);

    transition: {
      property: opacity;
      duration: 0.35s;
    }

    .layout--not-top & {
      opacity: 0;
    }
  }

  &__selector {
    z-index: 9;

    top: 0;
    left: 0;
  }

  &__link {
    @include global-bottom;
    @include global-left;
  }
}
