$desktop: rem(1280);
$laptop: rem(950);
$tabletlarge: rem(850);
$tablet: rem(768);
$phabletlarge: rem(640);
$phablet: rem(480);
$mobileup: rem(320);

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $desktop) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: $laptop) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: $tablet) { @content ; }
  }
    @else if $point == tabletlarge {
     @media (min-width: $tabletlarge) { @content ; }
  }
  @else if $point == phabletlarge {
   @media (min-width: $phabletlarge) { @content ; }
}
   @else if $point == phablet {
     @media (min-width: $phablet)  { @content ; }
  }
  @else if $point == mobileup {
     @media (min-width: $mobile)  { @content ; }

  }
}
