$font-weight-thin: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

$font-family-body: gt-haptik, sans-serif;
$font-family-headline: gt-haptik, sans-serif;
$font-family-mono: monospace;

@mixin type-size-tier-one {
  font-size: rem(9);
  line-height: rem(14);
}

@mixin type-size-tier-two {
  font-size: rem(16);
  line-height: rem(22);
}

@mixin type-size-tier-three {
  font-size: rem(36);
  line-height: rem(38);
}

@mixin type-size-tier-four {
  font-size: rem(72);
  line-height: rem(64);
}

@mixin _compoundFont($family: $font-family-body, $weight: $font-weight-normal) {
  font: {
    family: $family;
    weight: $weight;
  }
}

@mixin bodyFont($family: $font-family-body, $weight: $font-weight-normal) {
  @include _compoundFont($family, $weight);
}

@mixin headlineFont($family: $font-family-headline, $weight: $font-weight-normal) {
  @include _compoundFont($family, $weight);
}

@mixin codeFont($family: $font-family-mono, $weight: $font-weight-normal) {
  @include _compoundFont($family, $weight);
}
