@import '../../../styles/base';

@function getColWidth($cols, $total: 6) {
  @return (((100% / #{$total}) * #{$cols}) - #{$global-gutter}) + (#{$global-gutter} / #{$total / #{$cols}});
}

.root {
  font-family: inherit;

  width: 100%;
}

.current {
  @include global-top(3);
  @include global-left;

  position: fixed;

  z-index: 2;

  top: 50%;
  left: auto;

  right: calc(100% - #{rem($global-mobile-padding)});
  width: rem(50px);

  transform: rotate(-90deg) translate3d(#{rem(25px)},0,0);
  transform-origin: top right;

  white-space: pre;

  &Hook {
    position: absolute;

    top: calc(100% + #{rem(2px)});

    color: var(--color-text-light);

    .engaged & {
      display: none;
    }

    @include breakpoint(phablet) {
      position: relative;

      display: block;

      .engaged & {
        display: block;
      }
    }
  }

  @include breakpoint(phablet) {
    width: rem(120px);

    transform: rotate(-90deg) translate3d(#{rem(60px)},0,0);
  }

  @include breakpoint(tablet) {
    display: none;
  }
}

.list {
  @include global-padding-top(2);

  position: fixed;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  list-style: none;

  top: 50%;
  left: calc(#{$global-mobile-padding} + (#{ getColWidth(1) }));
  max-height: 100%;

  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;

  opacity: 0;
  visibility: hidden;

  overflow: auto;

  transform: translate3d(0, -50%, 0);

  transition: {
    duration: 0.25s;
    property: opacity, visibility;
  }

  .engaged & {
    opacity: 1;

    visibility: visible;
  }

  @include breakpoint(phablet) {
    left: calc(#{$global-mobile-padding} + (#{ getColWidth(1) }));
  }

  @include breakpoint(tablet) {
    @include global-padding-top(0);

    top: 50%;
    left: 0;

    height: auto;

    transform: translate3d(0, -50%, 0);

    opacity: 1;
    visibility: visible;
  }
}

.item {
  @include global-margin-bottom(0.25);

  color: var(--color-text-light);

  &.active {
    color: var(--color-text);
  }

  @include breakpoint(phablet) {
    @include global-margin-bottom(0.5);
  }

  @include breakpoint(tablet) {
    @include global-margin-bottom(0);

    &:not(.active):hover,
    &:not(.active) .button:focus,
    &:not(.active) .button:active {
      .line {
        transform: scaleX(0.75);
      }
    }
  }
}

.button {
  display: flex;

  align-items: center;

  padding: 0;

  cursor: pointer;

  pointer-events: none;
  outline: none;

  .engaged & {
    pointer-events: all;
  }

  @include breakpoint(tablet) {
    padding: rem($global-gutter / 4) 0;
  }
}

.line {
  display: none;

  @include breakpoint(tablet) {
    display: block;

    width: calc(#{rem($global-padding)} - #{rem($global-gutter)});
    height: rem(1px);

    margin-right: rem($global-gutter);

    background: currentColor;

    transform: scaleX(0.5);
    transform-origin: center right;

    transition: {
      duration: 0.25s;
      property: transform;
    }

    .active & {
      transform: scaleX(1);
    }
  }
}

.label {
  @include type-size-tier-two;

  transition: {
    duration: 0.25s;
    property: opacity;
  }

  @include breakpoint(phablet) {
    @include type-size-tier-three;
  }

  @include breakpoint(tablet) {
    @include type-size-tier-one;

    opacity: 0;

    .active &,
    .engaged & {
      opacity: 1;
    }
  }
}

.overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--color-bg-opacity);

  opacity: 0;
  visibility: hidden;

  transition: {
    duration: 0.25s;
    property: opacity, visibility;
  }

  .engaged & {
    opacity: 1;
    visibility: visible;
  }

  @include breakpoint(tablet) {
    display: none;
  }
}
