@import '../../styles/base';

.root {
  @include global-padding-top(3);
  @include global-padding-right;
  @include global-padding-left;
}

.grid {
  @include grid(6);

  @include breakpoint(tablet) {
    @include grid;
  }
}

.header {
  align-items: flex-start;

  em {
    font-style: normal;
  }

  &Title {
    @include type-size-tier-four;
    text-align: right;
  }

  &TitleArea {
    @include column(2, 5);
  }

  &Subtitle {
    padding: 0;
    text-align: right;
  }

  &Description {
    @include column(2, 5);
  }

  @include breakpoint(phablet) {
    &Description {
      @include column(2, 4);
    }
  }

  @include breakpoint(tablet) {
    &Title {
      @include global-padding-top;
      @include type-size-tier-three;
    }

    &TitleArea {
      @include column(3, 3);
    }

    &Subtitle {
      padding: 0;
      text-align: right;
    }

    &Description {
      @include column(7, 6);
    }
  }

  @include breakpoint(laptop) {
    &Title {
      @include type-size-tier-four;
    }

    &TitleArea {
      @include column(2, 4);
    }

    &Description {
      @include column(7, 4);
    }
  }
}

.sources {
  @include global-padding-top;

  &Title,
  &List {
    @include column(2, 5);
  }

  &Title {
    @include type-size-tier-three;
    @include global-padding-bottom(0.5);
  }

  &List {
    @include grid(1);
  }

  &Link {
    @include global-margin-bottom(0.5);

    text-align: left;
  }

  &Item {
    @include global-margin-bottom(0.5);
  }

  @include breakpoint(phabletlarge) {
    &List {
      @include column(2, 4);
      @include grid(2);
    }
  }

  @include breakpoint(tablet) {
    &Title,
    &List {
      @include column(3, 9);
    }

    &List {
      @include grid(3);
    }
  }

  @include breakpoint(desktop) {
    &List {
      @include grid(4);
    }
  }
}

.quote {
  &Text {
    @include type-size-tier-four;
    @include column(2, 5);

    padding: 0;
  }

  @include breakpoint(tablet) {
    @include global-padding-top;

    &Text {
      @include column(2, 10);
    }
  }

  @include breakpoint(desktop) {
    &Text {
      @include type-size-tier-five;
    }
  }
}

.footer {
  align-items: flex-end;

  &Contact,
  &Twitter {
    @include global-padding-bottom(0.5);
  }

  &Site {
    @include column(2, 5);
    @include global-padding-bottom;

    order: 4;
  }

  &Contact {
    @include column(2, 2);

    order: 2;
  }

  &Twitter {
    @include column(4, 2);

    order: 3;
  }

  &Image {
    @include column(2, 5);
    @include global-margin-bottom;

    order: 1;
  }

  @include breakpoint(phablet) {
    &Image {
      @include column(3, 4);
    }
  }

  @include breakpoint(tablet) {
    &Contact,
    &Twitter {
      @include global-padding-bottom;
    }

    &Site {
      @include column(2, 3);

      order: 1;
    }

    &Contact {
      @include column(5, 1);

      order: 2;
    }

    &Twitter {
      @include column(6, 1);

      order: 3;
    }

    &Image {
      @include column(8, 5);

      margin-bottom: 0;
      order: 4;
    }
  }
}
