@import '../../../styles/base';

.root {
  @include grid(6);

  align-items: flex-start;

  color: var(--color-text);

  @include breakpoint(tablet) {
    @include grid;
  }
}

.image {
  @include column(3, 4);

  order: 1;

  @include breakpoint(tablet) {
    @include column(7, 6);

    order: 2;
  }
}

.text {
  @include column(2, 5);

  text-align: right;
  text-decoration: none;

  color: inherit;

  order: 2;

  @include breakpoint(tablet) {
    @include column(3, 4);

    margin-top: 20%;

    order: 1;
  }
}

.title {
  @include type-size-tier-four;

  margin: 0;

  word-spacing: rem(99999px);
}

.subtitle {
  @include type-size-tier-two;

  margin: 0;

  @include breakpoint(tablet) {
    margin: rem($global-padding / 4) 0 0;
  }
}
