@import '../../../styles/base';

.root {
  @include grid;

  align-items: flex-start;

  color: var(--color-text);
}

.image {
  @include column(7, 6);
}

.text {
  @include column(3, 4);

  margin-top: 20%;
  text-align: right;
  text-decoration: none;

  color: inherit;
}

.title {
  @include type-size-tier-four;

  margin: 0;

  word-spacing: rem(99999px);
}

.subtitle {
  @include type-size-tier-two;

  margin: rem($global-padding / 4) 0 0;
}
