@import '../../styles/base';

.search {
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;

  transition: {
    duration: 0.25s;
    property: opacity, visibility;
  };

  background-color: var(--color-bg-opacity);

  &--open {
    opacity: 1;
    visibility: visible;
  }

  &__title {
    @include global-top;
    @include global-left;
    @include type-size-tier-two;

    position: absolute;
  }

  &__close {
    @include global-top;
    @include global-right;

    position: absolute;
  }

  &__content {
    @include global-padding-top(2.5);
    @include global-padding-right;
    @include global-padding-bottom;
    @include global-padding-left;
    @include grid(6);

    grid-template-rows: rem(50px) auto;
    align-items: flex-start;

    height: 100%;

    @include breakpoint(tablet) {
      @include global-padding-top(1.5);
      @include grid;

      grid-template-rows: 100%;
      align-items: center;
    }

    &__input-box {
      @include column(1, 6);

      @include breakpoint(tablet) {
        @include column(1, 6);
      }
    }

    &__results {
      @include column(3, 4);

      max-height: 100%;

      padding: 0;
      margin: 0;

      list-style: none;

      overflow: auto;

      @include breakpoint(tablet) {
        @include column(7, 6);

        padding: rem(20px) 0 0;
      }
    }

    &__input {
      @include type-size-tier-four;

      width: 100%;

      padding: rem(2px) 0 rem(4px);

      outline: 0;

      &:focus {
        padding-bottom: rem(2px);
        border-bottom: rem(2px) solid var(--color-text);
      }

      &::placeholder {
        color: var(--color-text-light);
      }
    }
  }
}

.search-item {
  @include global-margin-top;
  @include global-margin-bottom;

  display: flex;
  flex-direction: column;

  &__link {
    position: relative;

    text-decoration: none;
    color: var(--color-text);
    outline: 0;

    cursor: pointer;

    padding-bottom: rem(2px);

    &:focus:after {
      position: absolute;

      top: 100%;
      left: 0;

      width: rem(50px);
      height: rem(2px);

      content: '';

      background-color: var(--color-text);
    }
  }

  &__title,
  &__type {
    padding: 0;
    margin: 0;
  }

  &__title {
    @include type-size-tier-three;
  }

  &__type {
    @include type-size-tier-two;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include breakpoint(laptop) {
    &__title {
      @include type-size-tier-four;
    }
  }
}
