@import '../../../styles/base';

.root {
  grid-auto-rows: min-content;

  text-decoration: none;
  color: var(--color-text);
}

.image {

}

.text {
  margin: rem($global-padding / 3) 0 0;
}

.title {
  @include type-size-tier-two;

  margin: 0;

  @include breakpoint(tablet) {
    @include type-size-tier-three;
  }
}

.subtitle {
  @include type-size-tier-one;

  margin: 0;

  @include breakpoint(tablet) {
    @include type-size-tier-two;
  }
}
